@media (max-width: 640px) {
  .container-outer {
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
    background-image: none;
  }

  .container-inner {
    max-width: 640px;
    margin: 0 auto;
  }

  .header {
    padding-top: 0;
  }

  .header-all {
    margin-top: 0;
  }

  .header-logo {
    width: 186px;
    height: 62px;
    padding: 0 18px 0 11px;
    background-image: linear-gradient(0deg, #000000 0%, #ffffff 100%);
  }

  .header-logo-img {
    height: 41px;
    width: 41px;
    background-image: url(../assets/mobile/logo-up-layer.svg),
      url(../assets/mobile/logo-down-layer.svg);
  }

  .header-logo-text {
    font-size: 19px;
    letter-spacing: 0px;
    font-family: "Lucida Sans";
    font-style: italic;
    text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.42);
  }

  nav {
    top: 0;
  }

  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 455px;
    height: 62px;
    background-image: linear-gradient(0deg, #e9bb04 0%, #f5c710 100%);
    box-shadow: none;
  }

  .header-menu-item {
    display: flex;
    align-items: center;
    height: 62px;
  }

  .header-menu-item:first-child {
    width: 173px;
  }

  .header-menu-item:nth-child(2) {
    width: 133px;
  }

  .header-menu-item:nth-child(3) {
    width: 149px;
  }

  .slider {
    padding: 0;
  }

  .slider-arrow,
  .slider-text {
    display: none;
  }

  .slider-video-desktop {
    display: none;
  }
  .slider-video-mobile {
    display: block;
  }

  .slider-video video {
    width: 640px;
    height: 318px;
    padding: 0;
    object-fit: fill;
  }

  .white-block {
    margin-top: 0px;
    background-image: url(../assets/mobile/background-white.png);
    background-size: contain;
  }

  .white-block-wrapper {
    box-shadow: none;
    border-left: none;
  }

  .white-block-item {
    border-right: none;
    height: 174px;
  }

  .white-block-img-cloud img {
    width: 90px;
    height: 62px;
  }

  .white-block-img-leaf img {
    width: 67px;
    height: 70px;
  }

  .white-block-img-te img {
    width: 69px;
    height: 70px;
  }

  .yellow-block-wrapper {
    padding-bottom: 0;
  }

  .yellow-block {
    background-image: none;
  }

  .yellow-block-title {
    display: none;
  }

  .yellow-block-widget {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }

  .yellow-block-widget-anons-text,
  .yellow-block-widget-anons-player {
    margin: 9px;
  }

  .yellow-block-widget-anons-text {
    width: 50%;
    height: 232px;
    padding: 20px 30px;
    margin-right: 0;
  }

  .yellow-block-widget-anons-player {
    width: 50%;
    height: 232px;
  }

  /* .yellow-block-widget-anons-plus {
    position: absolute;
    right: -0;
    bottom: 0;
    width: 12px;
    height: 12px;
    background-image: url(../assets/desktop/plus.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 1s;
  } */

  .yellow-block-widget-twit-posts,
  .yellow-block-widget-twit-plus,
  .yellow-block-calendar,
  .yellow-block-scroll {
    display: none;
  }

  .yellow-block-widget-twit {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 233px;
    background-color: #f5c506;
  }

  .yellow-block-widget-twit-logo {
    position: static;
    width: 50%;
    background-image: url(../assets/desktop/twitter.svg);
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: 50%;
    background-size: 150px;
  }

  .yellow-block-widget-twit-twits {
    display: block;
    width: 50%;
  }

  .grey-block-benefits {
    display: none;
  }

  .grey-block-pics {
    width: 100%;
    padding: 5px 0 26px;
  }

  .footer-wrapper {
    padding-left: 64px;
  }

  .footer-img {
    position: static;
    height: 32px;
    width: 32px;
    background-image: url(../assets/desktop/logo-down-layer.svg),
      url(../assets/desktop/logo-up-layer.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .footer-text {
    position: static;
    padding-left: 11px;
    font-size: 17px;
  }
}
