.container-outer {
  max-width: 1300px;
  min-width: 640px;
  margin: 0 auto;
  background-image: url(../assets/background-header.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  padding-top: 30px;
  box-sizing: border-box;
}

.container-inner {
  width: 1020px;
  margin: 0 auto;
}

.header-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 450px;
}

.header-logo-img {
  height: 83px;
  width: 83px;
  background-image: url(../assets/logo-up-layer.svg), url(../assets/logo-down-layer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header-logo-text {
  letter-spacing: 5px;
  padding-left: 10px;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
  font-family: sans-serif;
  font-size: 25pt;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #f5c506;
  width: 452px;
  height: 40px;
  box-shadow: -5px -5px 0 rgba(245, 197, 6, 0.5), -10px -10px 0 rgba(245, 197, 6, 0.25);
}

.header-menu-link {
  text-decoration: none;
  padding-left: 35px;
  text-transform: uppercase;
  line-height: 40px;
  height: 40px;

  font-size: 17px;
  letter-spacing: 1px;
  color: #9b7d08;
  font-family: "Segoe WP";
}

.header-menu-item.separator {
  border-left: 1px solid #b99403;
}

.header-menu-link:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 40px;
  background-repeat: no-repeat;
  margin-left: -35px;
  background-position: 50% 50%;
}

.header-menu-link.aboutus:before {
  background-image: url(../assets/menu-about.svg);
}

.header-menu-link.services:before {
  background-image: url(../assets/menu-settings.svg);
}

.header-menu-link.contact:before {
  background-image: url(../assets/menu-email.svg);
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 60px;
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.slider-video video {
  width: 547px;
  height: 325px;
  padding: 5px 10px 0;
}

.slider-text {
  padding-top: 85px;
  text-align: center;
}

.slider-text-tittle {
  color: #f5c506;
  text-transform: uppercase;
  font-size: 63px;
  letter-spacing: 1px;
  line-height: 1.15;
  font-family: "Asap";
  font-weight: 400;
  text-align: center;
}

.slider-text-tittle.white {
  color: #fff;
}

.slider-arrow {
  width: 33px;
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #b99403;
}

.white-block {
  background-image: url(../assets/background-white.svg);
  background-size: contain;
  margin-top: 10px;
}

.white-block-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0 15px 15px -15px #333, 0 -15px 15px -15px #333;
}

.white-block-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 200px;
  border-right: 1px solid #d0d0d0;
}

.white-block-item h4 {
  text-align: center;
  font-family: sans-serif;
  font-size: 18pt;
}

.yellow-block {
  background-image: url(../assets/background-yellow.png);
  background-size: contain;
}

.yellow-block-wrapper {
  padding-bottom: 22px;
}

.yellow-block-title {
  padding-top: 60px;
}

.yellow-block-title-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 24pt;
  font-family: sans-serif;
  padding-bottom: 40px;
}

.yellow-block-widget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.yellow-block-widget-anons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.yellow-block-widget-anons-text {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  background-color: #ec9e03;
  color: #f8daa0;
  text-align: left;
  font-family: sans-serif;
  font-size: 17pt;
  padding: 20px 30px;
  line-height: 30px;
}

.yellow-block-widget-anons-plus {
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../assets/plus.svg);
  background-repeat: no-repeat;
  background-size: contain;
  right: 5px;
  bottom: 5px;
}

.yellow-block-widget-anons-player {
  display: flex;
  justify-content: flex-start;
}

.yellow-block-widget-anons-player video {
  width: 316px;
  height: 235px;
  padding: 0;
  margin: 0;
}

.yellow-block-widget-twit {
  width: 320px;
  height: 235px;
  background-color: #ec9e03;
  position: relative;
}

.yellow-block-widget-twit-date {
  float: right;
  padding: 10px;
}

.yellow-block-widget-twit-posts {
  color: #f8daa0;
  font-family: sans-serif;
  font-size: 15pt;
}

.yellow-block-widget-twit-logo {
  width: 160px;
  height: 135px;
  background-image: url(../assets/twitter.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 150px;
  position: absolute;
  left: 90px;
  top: 45px;
}

.yellow-block-widget-twit-plus {
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../assets/plus.svg);
  background-repeat: no-repeat;
  background-size: cover;
  right: 5px;
  bottom: 5px;
}

.yellow-block-calendar {
  width: 113px;
  height: 80px;
  background-color: #ddb101;
}

.yellow-block-calendar-date {
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 35pt;
  padding-top: 10px;
}

.yellow-block-calendar-month {
  color: #bd7b20;
  text-transform: uppercase;
  text-align: center;
  font-family: sans-serif;
  font-size: 14pt;
}

.yellow-block-scroll {
  margin: 42px auto 0;
  width: 896px;
  height: 15px;
  border-radius: 7px;
  background-color: #ffffff;
  opacity: 0.48;
}

.yellow-block-scroll-inner {
  position: relative;
  left: 247px;
  width: 197px;
  height: 15px;
  border-radius: 7px;
  background-color: #ec9e03;
}
