@font-face {
  font-family: "Lucida Sans Unicode";
  src: url("../assets/lucida-sans-unicode_[allfont.ru].ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SegoeUILight";
  src: url("../assets/SegoeUILight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe WP Semibold";
  src: url("../assets/SegoeWPSemibold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Asap Regular"), local("Asap-Regular"),
    url(https://fonts.gstatic.com/s/asap/v11/KFOoCniXp96ayzse4A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.container-outer {
  max-width: 1300px;
  min-width: 640px;
  margin: 0 auto;
  background-image: url(../assets/background-header.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  padding-top: 30px;
  box-sizing: border-box;
}

.container-inner {
  width: 1020px;
  margin: 0 auto;
}

.header-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -2px;
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 450px;
}

.header-logo-img {
  height: 83px;
  width: 83px;
  background-image: url(../assets/logo-up-layer.svg), url(../assets/logo-down-layer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header-logo-text {
  padding: 12px 0 0 3px;
  letter-spacing: 1.1px;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 40px;
}

nav {
  position: relative;
  top: 22px;
}

.header-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f5c506;
  width: 453px;
  height: 40px;
  box-shadow: -5px -5px 0 rgba(245, 197, 6, 0.5), -10px -10px 0 rgba(245, 197, 6, 0.25);
}

.header-menu-link {
  text-decoration: none;
  padding-left: 35px;
  text-transform: uppercase;
  line-height: 40px;
  height: 40px;
  font-size: 17px;
  letter-spacing: 0.1px;
  color: #9b7d08;
  font-family: "Segoe WP Semibold", sans-serif;
}

.header-menu-item:first-child {
  width: 171px;
}

.header-menu-item:nth-child(2) {
  width: 132px;
}

.header-menu-item.separator {
  border-left: 1px solid #b99403;
}

.header-menu-item-icon.aboutus {
  background-image: url(../assets/menu-about.svg);
  background-repeat: no-repeat;
  background-position: 37px calc(50% - 1px);
}

.header-menu-item-icon.services {
  background-image: url(../assets/menu-settings.svg);
  background-repeat: no-repeat;
  background-position: 13px calc(50% - 1px);
}

.header-menu-item-icon.contact {
  background-image: url(../assets/menu-email.svg);
  background-repeat: no-repeat;
  background-position: 16px calc(50% - 2px);
}

.header-menu-link.aboutus {
  position: relative;
  left: 33px;
}

.header-menu-link.services {
  position: relative;
  left: 7px;
}

.header-menu-link.contact {
  position: relative;
  left: 14px;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 52px 0 60px;
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.slider-video video {
  width: 548px;
  height: 327px;
  padding: 5px 10px 0;
}

.slider-text {
  padding-top: 85px;
  text-align: center;
}

.slider-text-tittle {
  position: relative;
  left: -26px;
  margin-top: -11px;
  color: #f5c506;
  text-transform: uppercase;
  font-size: 63px;
  letter-spacing: 1px;
  line-height: 1.39;
  font-family: "Asap", sans-serif;
  font-weight: 400;
  text-align: center;
}

.slider-text-tittle.white {
  position: relative;
  left: -17px;
  letter-spacing: 0.7px;
  color: #fff;
}

.slider-arrow {
  position: relative;
  margin-top: -4px;
  width: 32px;
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f5c506;
}

.slider-arrow.left {
  width: 330x;
  background-color: rgba(243, 196, 6, 0.71);
}

.slider-arrow.left img {
  position: relative;
  left: -1px;
}

.slider-arrow.right img {
  position: relative;
  left: 1px;
}

.white-block {
  background-image: url(../assets/background-white.svg);
  background-size: contain;
  margin-top: 8px;
}

.white-block-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-left: 1px solid #d0d0d0;
  box-shadow: 0 15px 15px -15px #333, 0 -15px 15px -15px #333;
}

.white-block-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.333333%;
  height: 212px;
  border-right: 1px solid #d0d0d0;
}

.white-block-item h4 {
  position: absolute;
  bottom: 36px;
  left: 85px;
  font-family: "SegoeUILight", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 20pt;
  letter-spacing: 0.6px;
}

.white-block-item h4 {
  left: 86px;
  bottom: 37px;
  letter-spacing: 0.4px;
}

.white-block-item.leaf h4 {
  left: 110px;
}

.white-block-item.te h4 {
  left: 113px;
}

.white-block-img-cloud img {
  position: relative;
  top: -7px;
  left: -3px;
}

.white-block-img-leaf {
  position: relative;
  top: -21px;
  left: 8px;
}

.white-block-img-te {
  position: relative;
  top: -10px;
  left: -10px;
}

.yellow-block {
  background-image: url(../assets/background-yellow.png);
  background-size: contain;
}

.yellow-block-wrapper {
  padding-bottom: 22px;
}

.yellow-block-title {
  padding-top: 38px;
}

.yellow-block-title-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 24pt;
  font-family: sans-serif;
  padding-bottom: 40px;
}

.yellow-block-widget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.yellow-block-widget-anons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.yellow-block-widget-anons-text {
  position: relative;
  box-sizing: border-box;
  width: 339px;
  background-color: #ec9e03;
  color: #f8daa0;
  text-align: left;
  font-family: sans-serif;
  font-size: 17pt;
  padding: 20px 30px;
  line-height: 30px;
}

.yellow-block-widget-anons-plus {
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../assets/plus.svg);
  background-repeat: no-repeat;
  background-size: contain;
  right: 5px;
  bottom: 5px;
}

.yellow-block-widget-anons-player {
  display: flex;
  justify-content: flex-start;
}

.yellow-block-widget-anons-player video {
  width: 316px;
  height: 235px;
  padding: 0;
  margin: 0;
}

.yellow-block-widget-twit {
  width: 320px;
  height: 235px;
  background-color: #ec9e03;
  position: relative;
}

.yellow-block-widget-twit-date {
  float: right;
  padding: 10px;
}

.yellow-block-widget-twit-posts {
  color: #f8daa0;
  font-family: sans-serif;
  font-size: 15pt;
}

.yellow-block-widget-twit-logo {
  width: 160px;
  height: 135px;
  background-image: url(../assets/twitter.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 150px;
  position: absolute;
  left: 90px;
  top: 45px;
}

.yellow-block-widget-twit-plus {
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../assets/plus.svg);
  background-repeat: no-repeat;
  background-size: cover;
  right: 5px;
  bottom: 5px;
}

.yellow-block-calendar {
  width: 113px;
  height: 80px;
  background-color: #ddb101;
}

.yellow-block-calendar-date {
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 35pt;
  padding-top: 10px;
}

.yellow-block-calendar-month {
  color: #bd7b20;
  text-transform: uppercase;
  text-align: center;
  font-family: sans-serif;
  font-size: 14pt;
}

.yellow-block-scroll {
  margin: 42px auto 0;
  width: 896px;
  height: 15px;
  border-radius: 7px;
  background-color: #ffffff;
  opacity: 0.48;
}

.yellow-block-scroll-inner {
  position: relative;
  left: 247px;
  width: 197px;
  height: 15px;
  border-radius: 7px;
  background-color: #ec9e03;
}

.grey-block {
  background-image: url(../assets/background-grey.png);
  background-size: cover;
}

.grey-block-title {
  margin: auto;
  width: 601px;
  padding-top: 40px;
  padding-bottom: 14px;
}

.grey-block-title h2 {
  padding-top: 15px;
  letter-spacing: 2%;
  color: #f5c506;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 28pt;
}

.grey-block-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 108px;
}

.grey-block-pics {
  width: 53%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.grey-block-desktop {
  width: 340px;
  height: 293px;
  background-image: url(../assets/desktop.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.grey-block-offer {
  width: 117px;
  height: 117px;
  background-color: #f5c506;
  border-radius: 180px;
  padding-left: -2px;
}

.grey-block-offer-text {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 120px;
  font-family: sans-serif;
  font-size: 11pt;
  font-weight: bold;
}

.grey-block-tablet {
  width: 129px;
  height: 293px;
  background-image: url(../assets/tablet.svg);
  background-repeat: no-repeat;
  background-position: 100% 65%;
}

.grey-block-smartphone {
  width: 39px;
  height: 293px;
  background-image: url(../assets/smartphone.svg);
  background-repeat: no-repeat;
  background-position: 100% 81%;
}

.grey-block-benefits {
  width: 37%;
  word-wrap: break-word;
}

.grey-block-benefits-item {
  color: #a9a9a7;
  font-size: 15pt;
  font-family: sans-serif;
  padding-top: 29px;
  padding-left: 3px;
}

.grey-block-benefits-item:before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f5c506;
  margin-left: -10px;
  margin-right: 10px;
}

footer {
  background-color: #4c4c4c;
  box-shadow: 0 -3px 15px #222;
}

.footer-wrapper {
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-img {
  background-image: url(../assets/logo-down-layer.svg), url(../assets/logo-up-layer.svg);
  height: 50px;
  width: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer-text {
  text-transform: uppercase;
  font-size: 29px;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: "Lucida Sans";
  font-style: italic;
  text-align: center;
}
