@font-face {
  font-family: "Lucida Sans Unicode";
  src: url("../assets/fonts/lucida-sans-unicode_[allfont.ru].ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SegoeUILight";
  src: url("../assets/fonts/SegoeUILight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe WP Semibold";
  src: url("../assets/fonts/SegoeWPSemibold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Asap-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "PT Sans";
  src: url("../assets/fonts/2221.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.container-outer {
  max-width: 1300px;
  min-width: 640px;
  margin: 0 auto;
  overflow: hidden;
  background-image: url(../assets/desktop/background-header.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  box-sizing: border-box;
  padding-top: 30px;
}

.container-inner {
  width: 1020px;
  margin: 0 auto;
}

.header-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -2px;
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 450px;
}

.header-logo-img {
  height: 83px;
  width: 83px;
  background-image: url(../assets/desktop/logo-up-layer.svg),
    url(../assets/desktop/logo-down-layer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header-logo-text {
  padding: 12px 0 0 3px;
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 40px;
  font-style: italic;
  letter-spacing: 1.1px;
  color: #fff;
  text-transform: uppercase;
}

nav {
  position: relative;
  top: 22px;
}

.header-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 453px;
  height: 40px;
  background-color: #f5c506;
  box-shadow: -5px -5px 0 rgba(245, 197, 6, 0.5), -10px -10px 0 rgba(245, 197, 6, 0.25);
}

.header-menu-link {
  height: 40px;
  padding-left: 35px;
  font-family: "Segoe WP Semibold", sans-serif;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 0.1px;
  color: #9b7d08;
  text-decoration: none;
  transition: color 1s;
}

.header-menu-item:first-child {
  width: 171px;
}

.header-menu-item:nth-child(2) {
  width: 132px;
}

.header-menu-item:nth-child(3) {
  width: 150px;
}

.header-menu-item.separator {
  border-left: 1px solid #b99403;
}

.header-menu-item {
  transition: background-color 1s;
}

.header-menu-item:hover {
  background: #9b7d08;
}

.header-menu-item:hover .header-menu-link {
  color: #ffffff;
}

.header-menu-item-icon.aboutus {
  background-image: url(../assets/desktop/menu-about.svg);
  background-repeat: no-repeat;
  background-position: 37px calc(50% - 1px);
}

.header-menu-item-icon.services {
  background-image: url(../assets/desktop/menu-settings.svg);
  background-repeat: no-repeat;
  background-position: 13px calc(50% - 1px);
}

.header-menu-item-icon.contact {
  background-image: url(../assets/desktop/menu-email.svg);
  background-repeat: no-repeat;
  background-position: 16px calc(50% - 2px);
}

.header-menu-link.aboutus {
  position: relative;
  left: 33px;
}

.header-menu-link.services {
  position: relative;
  left: 7px;
}

.header-menu-link.contact {
  position: relative;
  left: 14px;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 52px 0 60px;
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.slider-video video {
  width: 548px;
  height: 327px;
  padding: 5px 10px 0;
}

.slider-text {
  padding-top: 85px;
  text-align: center;
}

.slider-text-tittle {
  position: relative;
  left: -26px;
  margin-top: -11px;
  font-family: "Asap", sans-serif;
  color: #f5c506;
  text-transform: uppercase;
  font-size: 63px;
  letter-spacing: 1px;
  line-height: 1.39;
  font-weight: 400;
  text-align: center;
}

.slider-text-tittle.white {
  position: relative;
  left: -17px;
  letter-spacing: 0.7px;
  color: #fff;
}

.slider-arrow {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 57px;
  margin-top: -4px;
  background-color: #f5c506;
}

.slider-arrow:hover img {
  transform: scale(1.8);
}

.slider-arrow.left {
  width: 330x;
  background-color: rgba(243, 196, 6, 0.71);
}

.slider-arrow.left img {
  position: relative;
  left: -1px;
  transition: transform 0.5s;
}

.slider-arrow.right img {
  position: relative;
  left: 1px;
  transition: transform 0.5s;
}

.white-block {
  margin-top: 8px;
  background-image: url(../assets/desktop/background-white.svg);
  background-size: contain;
}

.white-block-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-left: 1px solid #d0d0d0;
  box-shadow: 0 15px 15px -15px #333, 0 -15px 15px -15px #333;
}

.white-block-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.333333%;
  height: 212px;
  border-right: 1px solid #d0d0d0;
}

.white-block-item h4 {
  position: absolute;
  bottom: 36px;
  left: 85px;
  font-family: "SegoeUILight", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 20pt;
  letter-spacing: 0.6px;
}

.white-block-item h4 {
  left: 86px;
  bottom: 37px;
  letter-spacing: 0.4px;
}

.white-block-item.leaf h4 {
  left: 110px;
}

.white-block-item.te h4 {
  left: 113px;
}

.white-block-img-cloud img {
  position: relative;
  top: -7px;
  left: -3px;
}

.white-block-img-leaf {
  position: relative;
  top: -21px;
  left: 8px;
}

.white-block-img-te {
  position: relative;
  top: -10px;
  left: -10px;
}

.yellow-block {
  background-image: url(../assets/desktop/background-yellow.png);
  background-size: contain;
}

.yellow-block-wrapper {
  padding-bottom: 22px;
}

.yellow-block-title {
  padding-top: 38px;
}

.yellow-block-title-text {
  padding-bottom: 40px;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  font-size: 27pt;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.yellow-block-widget {
  position: relative;
  left: -1px;
  top: -4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.yellow-block-widget-anons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.yellow-block-widget-anons-text {
  position: relative;
  box-sizing: border-box;
  width: 340px;
  height: 233px;
  padding: 20px 30px;
  font-family: "SegoeUILight", sans-serif;
  color: #ffffff;
  text-align: left;
  font-size: 29px;
  line-height: 38px;
  letter-spacing: 0.4px;
  word-wrap: break-word;
  background-color: #ec9e03;
}

.yellow-block-widget-anons-text > div {
  position: relative;
  top: -4px;
}

.yellow-block-widget-anons-plus {
  position: absolute;
  right: -17px;
  bottom: -14px;
  width: 12px;
  height: 12px;
  background-image: url(../assets/desktop/plus.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 1s;
}

.yellow-block-widget-anons-plus:hover {
  transform: rotate(90deg) scale(3);
}

.yellow-block-widget-anons-player video {
  position: relative;
  top: -2px;
  left: 1px;
  width: 315px;
  height: 236px;
  margin: 0;
  padding: 0;
}

.yellow-block-widget-twit {
  position: relative;
  width: 330px;
  height: 233px;
  background-color: #ec9e03;
}

.yellow-block-widget-twit-posts {
  position: absolute;
  top: 15px;
  right: 18px;
}

.yellow-block-widget-twit-posts-text {
  color: #f8daa0;
  font-family: "SegoeUILight", sans-serif;
  font-size: 20pt;
}

.yellow-block-widget-twit-logo {
  position: absolute;
  left: 76px;
  top: 57px;
  width: 171px;
  height: 134px;
  background-image: url(../assets/desktop/twitter.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.yellow-block-widget-twit-plus {
  position: absolute;
  right: 10px;
  bottom: 13px;
  width: 12px;
  height: 12px;
  background-image: url(../assets/desktop/plus.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 1s;
}

.yellow-block-widget-twit-plus:hover {
  transform: rotate(90deg) scale(3);
}

.yellow-block-calendar {
  position: relative;
  top: -10px;
  left: -1px;
  width: 113px;
  height: 86px;
  font-family: "Segoe WP Semibold", sans-serif;
  background-color: #ddb101;
}

.yellow-block-calendar-date {
  position: relative;
  top: -4px;
  left: 4px;
  padding-top: 10px;
  letter-spacing: 1.5px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 38pt;
}

.yellow-block-calendar-month {
  position: relative;
  right: 27px;
  color: #bd7b20;
  text-transform: uppercase;
  text-align: right;
  font-size: 15pt;
}

.yellow-block-scroll {
  width: 896px;
  height: 15px;
  margin: 33px 0 0 73px;
  background-color: rgb(255, 255, 255, 0.48);
  border-radius: 7px;
}

.yellow-block-scroll-inner {
  position: relative;
  left: 247px;
  width: 197px;
  height: 15px;
  background-color: #ec9e03;
  border-radius: 7px;
}

.grey-block {
  background-image: url(../assets/desktop/background-grey.png);
  background-size: cover;
}

.grey-block-title {
  margin: auto;
  padding-top: 26px;
  padding-bottom: 14px;
}

.grey-block-title h2 {
  padding-top: 15px;
  padding-left: 5px;
  font-family: "PT Sans", sans-serif;
  color: #f5c506;
  font-size: 31pt;
  letter-spacing: 1.35px;
  text-align: center;
  text-transform: uppercase;
}

.grey-block-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 108px;
}

.grey-block-pics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 53%;
}

.grey-block-desktop {
  position: relative;
  top: 2px;
  left: 1px;
  width: 340px;
  height: 293px;
  background-image: url(../assets/desktop/desktop.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.grey-block-offer {
  position: relative;
  top: -5px;
  left: -3px;
  width: 117px;
  height: 117px;
  padding-left: -2px;
  background-color: #f5c506;
  border-radius: 180px;
}

.grey-block-offer-text {
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 120px;
  font-size: 11pt;
  font-weight: bold;
}

.grey-block-tablet {
  position: relative;
  top: 4px;
  left: 9px;
  width: 129px;
  height: 293px;
  background-image: url(../assets/desktop/tablet.svg);
  background-repeat: no-repeat;
  background-position: 100% 65%;
}

.grey-block-smartphone {
  position: relative;
  top: 6px;
  left: 18px;
  width: 39px;
  height: 293px;
  background-image: url(../assets/desktop/smartphone.svg);
  background-repeat: no-repeat;
  background-position: 100% 81%;
}

.grey-block-benefits {
  position: relative;
  top: 10px;
  left: 2px;
  width: 37%;
}

.grey-block-benefits ul {
  position: relative;
  top: 25px;
  left: -1px;
}

.grey-block-benefits-item {
  padding-top: 29px;
  padding-left: 29px;
  font-family: "Open Sans", sans-serif;
  color: #a9a9a7;
  font-size: 22px;
  line-height: 1.2;
}

.grey-block-benefits-item:nth-child(1) {
  position: relative;
  letter-spacing: 0.15px;
}

.grey-block-benefits-item:nth-child(2) {
  position: relative;
  top: -8px;
  letter-spacing: 0.15px;
}

.grey-block-benefits-item:nth-child(3) {
  position: relative;
  top: -22px;
  left: 3px;
  letter-spacing: 0.05px;
}

.grey-block-benefits-item:nth-child(4) {
  position: relative;
  top: -26px;
  letter-spacing: 0.15px;
}

.grey-block-benefits-item:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: -34px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #f5c506;
}

.grey-block-benefits-item:nth-child(1):before {
  position: relative;
  top: -2px;
}

.grey-block-benefits-item:nth-child(2):before {
  position: relative;
  top: 1px;
}

.grey-block-benefits-item:nth-child(3):before {
  position: relative;
  left: -3px;
}

footer {
  background-color: #4c4c4c;
  box-shadow: 0 -3px 15px #222;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-img {
  position: relative;
  top: 2px;
  left: 2px;
  height: 50px;
  width: 50px;
  background-image: url(../assets/desktop/logo-down-layer.svg),
    url(../assets/desktop/logo-up-layer.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer-text {
  position: relative;
  top: 2px;
  left: 10px;
  font-family: "Lucida Sans Unicode";
  color: #ffffff;
  font-size: 29px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}

.footer-text p {
  text-shadow: 2px 2.732px 0px rgba(0, 0, 0, 0.42);
}
